In [1]:
import pandas as pd
import matplotlib as plot

In [20]:
filepath = "data/Environment_Temperature_change_E_All_Data_NOFLAG.csv"
full_data = pd.read_csv(filepath, encoding='latin-1')
full_data.head()

,Area Code,Area,Months Code,Months,Element Code,Element,Unit,Y1961,Y1962,Y1963,...,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019
0,2,Afghanistan,7001,January,7271,Temperature change,°C,0.777,0.062,2.744,...,3.601,1.179,-0.583,1.233,1.755,1.943,3.416,1.201,1.996,2.951
1,2,Afghanistan,7001,January,6078,Standard Deviation,°C,1.950,1.950,1.950,...,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950
2,2,Afghanistan,7002,February,7271,Temperature change,°C,-1.743,2.465,3.919,...,1.212,0.321,-3.201,1.494,-3.187,2.699,2.251,-0.323,2.705,0.086
3,2,Afghanistan,7002,February,6078,Standard Deviation,°C,2.597,2.597,2.597,...,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597
4,2,Afghanistan,7003,March,7271,Temperature change,°C,0.516,1.336,0.403,...,3.390,0.748,-0.527,2.246,-0.076,-0.497,2.296,0.834,4.418,0.234

In [21]:
full_data.columns
full_data.columns = ['Area Code', 'Area', 'Months Code', 'Months', 'Element Code', 'Element',
       'Unit', '1961', '1962', '1963', '1964', '1965', '1966', '1967',
       '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975',
       '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983',
       '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991',
       '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999',
       '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
       '2016', '2017', '2018', '2019']

In [22]:
full_data = full_data[['Area', 'Months','Element', 'Unit', '1961', '1962', '1963', '1964', '1965', '1966', '1967',
       '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975',
       '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983',
       '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991',
       '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999',
       '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
       '2016', '2017', '2018', '2019']]
full_data.head()

,Area,Months,Element,Unit,1961,1962,1963,1964,1965,1966,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Afghanistan,January,Temperature change,°C,0.777,0.062,2.744,-5.232,1.868,3.629,...,3.601,1.179,-0.583,1.233,1.755,1.943,3.416,1.201,1.996,2.951
1,Afghanistan,January,Standard Deviation,°C,1.950,1.950,1.950,1.950,1.950,1.950,...,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950
2,Afghanistan,February,Temperature change,°C,-1.743,2.465,3.919,-0.202,-0.096,3.397,...,1.212,0.321,-3.201,1.494,-3.187,2.699,2.251,-0.323,2.705,0.086
3,Afghanistan,February,Standard Deviation,°C,2.597,2.597,2.597,2.597,2.597,2.597,...,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597
4,Afghanistan,March,Temperature change,°C,0.516,1.336,0.403,1.659,-0.909,-0.069,...,3.390,0.748,-0.527,2.246,-0.076,-0.497,2.296,0.834,4.418,0.234

In [23]:
temp_change_df = full_data.loc[full_data.Element == "Temperature change"]
temp_change_df.head()

,Area,Months,Element,Unit,1961,1962,1963,1964,1965,1966,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Afghanistan,January,Temperature change,°C,0.777,0.062,2.744,-5.232,1.868,3.629,...,3.601,1.179,-0.583,1.233,1.755,1.943,3.416,1.201,1.996,2.951
2,Afghanistan,February,Temperature change,°C,-1.743,2.465,3.919,-0.202,-0.096,3.397,...,1.212,0.321,-3.201,1.494,-3.187,2.699,2.251,-0.323,2.705,0.086
4,Afghanistan,March,Temperature change,°C,0.516,1.336,0.403,1.659,-0.909,-0.069,...,3.390,0.748,-0.527,2.246,-0.076,-0.497,2.296,0.834,4.418,0.234
6,Afghanistan,April,Temperature change,°C,-1.709,0.117,0.919,-0.533,-1.816,-1.192,...,2.591,1.712,1.417,-0.052,0.585,1.589,0.980,1.252,1.442,0.899
8,Afghanistan,May,Temperature change,°C,1.412,-0.092,-0.690,-0.160,-0.190,-0.192,...,1.419,3.643,0.909,1.201,0.959,1.862,3.246,3.280,0.855,0.647

In [24]:
temp_change_df.to_json("data/temp_change.json")

In [25]:
std_df = full_data.loc[full_data.Element == "Standard Deviation"]
std_df.head()

,Area,Months,Element,Unit,1961,1962,1963,1964,1965,1966,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
1,Afghanistan,January,Standard Deviation,°C,1.950,1.950,1.950,1.950,1.950,1.950,...,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950
3,Afghanistan,February,Standard Deviation,°C,2.597,2.597,2.597,2.597,2.597,2.597,...,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597
5,Afghanistan,March,Standard Deviation,°C,1.512,1.512,1.512,1.512,1.512,1.512,...,1.512,1.512,1.512,1.512,1.512,1.512,1.512,1.512,1.512,1.512
7,Afghanistan,April,Standard Deviation,°C,1.406,1.406,1.406,1.406,1.406,1.406,...,1.406,1.406,1.406,1.406,1.406,1.406,1.406,1.406,1.406,1.406
9,Afghanistan,May,Standard Deviation,°C,1.230,1.230,1.230,1.230,1.230,1.230,...,1.230,1.230,1.230,1.230,1.230,1.230,1.230,1.230,1.230,1.230

In [26]:
std_df.to_json("data/std.json")

In [27]:
usa_df = temp_change_df.loc[temp_change_df.Area == "United States of America"]
usa_df

,Area,Months,Element,Unit,1961,1962,1963,1964,1965,1966,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
7888,United States of America,January,Temperature change,°C,0.943,-0.771,-1.170,0.901,0.747,-1.654,...,0.512,0.616,1.548,2.060,1.913,2.033,2.675,2.128,1.600,1.866
7890,United States of America,February,Temperature change,°C,1.215,1.425,0.577,-1.032,-1.287,-0.969,...,-0.215,-0.048,2.438,0.662,-0.347,0.389,3.788,3.528,1.765,0.375
7892,United States of America,March,Temperature change,°C,0.656,-1.082,1.400,-1.379,-1.034,0.214,...,1.211,1.251,3.688,0.162,0.220,2.532,3.778,1.844,1.632,1.404
7894,United States of America,April,Temperature change,°C,-1.210,0.409,0.399,-0.197,0.612,-0.595,...,1.414,0.546,2.043,-1.015,0.760,1.535,1.998,1.978,-0.414,1.411
7896,United States of America,May,Temperature change,°C,-0.348,0.671,0.503,0.023,-0.127,-0.389,...,0.323,-0.124,1.414,0.141,0.919,1.044,0.787,0.521,2.538,0.307
7898,United States of America,June,Temperature change,°C,0.339,-0.306,-0.165,-0.158,-0.980,-0.122,...,1.001,0.709,1.057,1.369,0.444,1.632,1.773,1.100,1.480,0.677
7900,United States of America,July,Temperature change,°C,-0.313,-0.515,-0.089,0.363,-0.622,0.562,...,0.501,1.089,1.335,0.536,-0.118,0.371,1.078,1.259,1.159,1.045
7902,United States of America,August,Temperature change,°C,0.190,0.203,-0.072,-0.645,-0.576,-0.618,...,1.127,1.292,0.870,0.631,0.370,0.445,1.093,0.100,0.738,1.018
7904,United States of America,September,Temperature change,°C,-0.467,-0.511,0.814,-0.411,-1.037,-0.005,...,1.055,0.830,0.695,0.882,0.827,1.561,1.295,0.918,1.638,2.021
7906,United States of America,October,Temperature change,°C,-0.405,1.076,2.218,0.018,-0.226,-0.760,...,1.085,0.716,-0.022,0.565,1.297,1.950,2.036,1.230,0.670,-0.269
7908,United States of America,November,Temperature change,°C,-0.692,0.778,0.141,0.307,1.567,0.725,...,0.788,0.128,0.410,0.098,-0.389,1.784,2.895,1.797,-0.030,0.514
7910,United States of America,December,Temperature change,°C,-1.652,0.463,-1.208,-1.336,1.053,-0.293,...,-0.643,1.775,1.070,-0.344,2.816,3.172,0.491,2.149,1.766,1.988
7912,United States of America,DecJanFeb,Temperature change,°C,0.750,-0.333,-0.043,-0.446,-0.625,-0.523,...,-0.117,-0.025,1.920,1.264,0.407,1.746,3.212,2.049,1.838,1.336
7914,United States of America,MarAprMay,Temperature change,°C,-0.301,-0.001,0.767,-0.518,-0.183,-0.257,...,0.983,0.558,2.382,-0.237,0.633,1.704,2.188,1.448,1.252,1.041
7916,United States of America,JunJulAug,Temperature change,°C,0.072,-0.206,-0.109,-0.147,-0.726,-0.059,...,0.876,1.030,1.087,0.845,0.232,0.816,1.315,0.820,1.126,0.913
7918,United States of America,SepOctNov,Temperature change,°C,-0.521,0.448,1.058,-0.029,0.101,-0.013,...,0.976,0.558,0.361,0.515,0.578,1.765,2.075,1.315,0.759,0.755
7920,United States of America,Meteorological year,Temperature change,°C,0.000,-0.023,0.418,-0.285,-0.358,-0.213,...,0.679,0.530,1.437,0.597,0.463,1.508,2.197,1.408,1.244,1.011

In [28]:
usa_df.to_json("data/usa.json")